body{
  transition: all 0.3s ease;
}

body.light{
  background-color: antiquewhite;
  color: black;
}

body.dark {
  background-color: rgb(58, 58, 58);
  color: black;
}

.login-button{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 200px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.dark-button{
  background-color: rgb(58, 58, 58);
  color: black;
  border-color: beige;
}

.light-button{
  background-color: rgb(46, 45, 39);
  color: white;
  border-color: rgb(35, 35, 31);
}

.routerList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.routerList li {}

.link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 12, 175);
  padding: 10px;
  border-radius: 8px;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  font-weight: 800;
  background-color: rgb(255, 255, 178)
}