body{
  transition: all 0.3s ease;
}

body.light{
  background-color: antiquewhite;
  color: black;
}

body.dark {
  background-color: rgb(58, 58, 58);
  color: black;
}

.login-button{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 200px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.dark-button{
  background-color: rgb(58, 58, 58);
  color: black;
  border-color: beige;
}

.light-button{
  background-color: rgb(46, 45, 39);
  color: white;
  border-color: rgb(35, 35, 31);
}